node_modules
helpers
.next
.env
.env.local

android
ios
build
dist
coverage
*.log
*.lock
.DS_Store
.vscode
n1.csv
n2.csv
n3.csv
n4.csv
n5.csv
Podfile.lock
.ds_store
.expo

.DS_Store
.serena
.claude
.vscode
docs